@import url("https://fonts.googleapis.com/css?family=Lato|Oswald:300");

// colors
$white: #FFFFFF;
$white-primary: #FAFAFA;
$strong-blue: #175163;
$bright-cyan: #45BD96;
$strong-cyan: #2A7E78;

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $white-primary;

  #home, #events, #ispeakers, #sponsors, #earlybird, #contact, #schedulehero, #webapphero, #eventshero, #spwhero, #accommodationshero, .accommodationsintro, #accommodations, #aboutushero, #aboutus, .modal-content, #mobilemenu {
    padding: 1rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 2rem; */
  }

  // TODO: refactor
  #events .title, #sponsors .title, .emp, .day .title, .event .title:first-child, #speakers .title, #workshops .title, .accommodationsintro .title, #accommodations .title, #aboutus .title, .modal-content .title {
    background: linear-gradient(to right, #31CFDA, #67DDA6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: auto;
    text-shadow: 0 3px 6px rgba(103, 221, 166, 0.32); }

  .title, .subtitle, .subearly, .emp {
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    text-shadow: 0px 2px 6px rgba(75, 97, 141, 0.32);
    display: block;
  }

  .subtitle {
    text-align: center;
    line-height: 1;
    margin-bottom: 1em;
    h2 {
      font-size: 1.6rem;
    }
  }

  .btn {
    padding: 12px 24px;
    background: linear-gradient(to right, #31CFDA, #67DDA6);
    border-radius: 200px;
    box-shadow: 2px 3px 6px #00000020;
    border: 1px solid transparent;
    position: relative;
    z-index: 1;
    transition: color ease-out 0.3s;
  }

  .btn:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: #FAFAFA;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity ease-out 0.3s;
    z-index: -3;
  }
  
  .btn:hover {
    border-color: #67DDA6;
    color: #67DDA6;
    box-shadow: none;
  }

  .btn:hover:before {
    opacity: 1;
  }

  a {
    color: $white-primary;
    text-decoration: none;
    a:hover {
      color: #4B618D;
    }
  }

  .title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .subearly {
    margin-top: 1em; }
  
  .unilogo {
    max-width: 10em;
    margin-top: 3em; }

  
  // only used inside .events right now  
  .double {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1em;
  max-width: 60rem; }

    #home {
    position: relative;
    background: -webkit-linear-gradient(142.9deg, $strong-blue -7.22%, $bright-cyan 114.47%), $white;
    background: -o-linear-gradient(142.9deg, $strong-blue -7.22%, $bright-cyan 114.47%), $white;
    background: linear-gradient(142.9deg, $strong-blue -7.22%, $bright-cyan 114.47%), $white;
    color: $white-primary;
    height: 120vh;
    overflow: hidden;

    .title {
      font-size: 5rem;
      line-height: 1;
      margin-bottom: 0.5em;
      text-align: center;
    }

    .double {
      max-width: 60rem;
    }

    .right > * {
      margin-bottom: 2em;
    }

    /* Remove these 2 rules after 2019 info is added, add top:0 to .navbar */
    /* Override navbar top position for pages with a page-top-message */
    .navbar-height-with-top-message {
      top: 32px;
    }
    /* An override class to inset the top position for pages without top message */
    .navbar-height-no-top-message {
      top: 0;
    }
    /* navbar (for now) */
    .navbar {
      background-color: #0D242C;
      -webkit-box-shadow: 0px 14px 11px 0px rgba(0,0,0,0.30);
      -moz-box-shadow: 0px 14px 11px 0px rgba(0,0,0,0.30);
      box-shadow: 0px 14px 11px 0px rgba(0,0,0,0.30);
      height: 6vh;
      min-height: 48px;
      position: absolute;
      /* Change back to "top: 0" after outdated info banner is removed */
      left: 0;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      padding: 8px 16px;
      z-index: 5;

      .logo {
        height: 38px;
      }
      
      .navbar-title {
        margin-left: 0.5em;
        font-size: 1.8em;
        font-family: "Lato", sans-serif;
      }
      
      .menu {
        background-color: transparent;
        margin-left: auto;
        color: $white-primary;
        border: none;
        font-size: 1.8em;
        visibility: visible;
      }
      
      .topmenu {
        /* visibility: hidden; */
        margin-left: auto;
        margin-right: 0.5em;
        font-family: "Lato", sans-serif;

        a {
          padding: 0;
          margin-right: 1.6em;
          font-size: 1.32rem;
          letter-spacing: 1px;
          text-transform: uppercase;
          position: relative;
          z-index: 2;
        }

        .navbar .topmenu a:before {
          content: '';
          position: absolute;
          height: 2px;
          z-index: -2;
          left: 0;
          right: 100%;
          bottom: 0;
          background: #0D242C;
          transition: right ease-out 0.3s;
        }

        .navbar .topmenu a:hover {
          color: #0D242C;
          opacity: 1;
        }

        .navbar .topmenu a:hover:before {
          right: 0;
        }
      
      }
    }

    /* home-div */
    .home-div {
      background: linear-gradient(0deg, $strong-cyan, $strong-cyan), $white;
      color: $white;
      /* background: -webkit-linear-gradient(142.9deg, $strong-blue -7.22%, $bright-cyan 114.47%), $white;
      background: -o-linear-gradient(142.9deg, $strong-blue -7.22%, $bright-cyan 114.47%), $white;
      background: linear-gradient(142.9deg, $strong-blue -7.22%, $bright-cyan 114.47%), $white; */
      padding: 5em;
      margin: 5em;
      margin-top: 10em;
      text-align: center;
      display: inline-block;
      width: 50%;
      z-index: 1;

      .home-div-header {
        font-size: 28px;
        font-weight: lighter;
      }
      
      .home-div-logo {
        margin: 20px 20px;
        height: 60px;
        width: 60px;
      }
      
      .home-div-text {
        font-size: 14px;
        font-weight: lighter;
        line-height: 22px;
      }

      .home-div-social-media-links {
        margin-top: 30px;
        position: absolute;
        padding-left: 45%;
      }
      
      .home-div-social-media-icon {
        height: 20px;
        width: 20px;
      }
    }

    /* start background skytrain styles and animation */

    .skytrain-bg {
      position: absolute;
      width: 60%; 
    }

    #skytrain-expo-bg {
      bottom: -40%;
      right: -30%;

      #expo-train {
        position:relative;
        -webkit-animation: diagonal-up 10s infinite;
        -moz-animation: diagonal-up 10s infinite;
        -o-animation: diagonal-up 10s infinite;
        animation: diagonal-up 10s infinite;
      }
      @-webkit-keyframes diagonal-up {
        100%       { transform: translatex(1200px) translatey(-720px) }
        0%      { transform: translatex(-3200px) translatey(1800px); }
      }
      @-moz-keyframes diagonal-up {
        100%       { transform: translatex(1200px) translatey(-720px) }
        0%      { transform: translatex(-3200px) translatey(1800px); }
      }
      @-o-keyframes diagonal-up {
        100%       { transform: translatex(1200px) translatey(-720px) }
        0%      { transform: translatex(-3200px) translatey(1800px); }
      }
      @keyframes diagonal-up {
        100%       { transform: translatex(1200px) translatey(-720px) }
        0%      { transform: translatex(-3200px) translatey(1800px); }
      }
    }

    #skytrain-canada-bg {
      left: -1%;
      top: -10%;

      #canada-train {
        position:relative;
        -webkit-animation: diagonal-down 10s infinite;
        -moz-animation: diagonal-down 10s infinite;
        -o-animation: diagonal-down 10s infinite;
        animation: diagonal-down 10s infinite;
      }
      @-webkit-keyframes diagonal-down {
        0%       { transform: translatex(1200px) translatey(-720px) }
        100%      { transform: translatex(-3200px) translatey(1800px); }
      }
      @-moz-keyframes diagonal-down {
        0%       { transform: translatex(1200px) translatey(-720px) }
        100%      { transform: translatex(-3200px) translatey(1800px); }
      }
      @-o-keyframes diagonal-down {
        0%       { transform: translatex(1200px) translatey(-720px) }
        100%      { transform: translatex(-3200px) translatey(1800px); }
      }
      @keyframes diagonal-down {
        0%       { transform: translatex(1200px) translatey(-720px) }
        100%      { transform: translatex(-3200px) translatey(1800px); }
      }
    }
  
    @media (max-width: 800px){
        .skytrain-bg {
            display: none;
        }
    }
  
  
  
  
  /* end background skytrain styles and animation */
  }

  p {
    line-height: 2;
    font-size: 1.06rem;
    max-width: 46rem;
    color: #4B618D;
  }

  


  .pillar {
    width: 100%;
    box-sizing: border-box;
    padding: 1em 0;

    p {
      margin: 0;
    }
    
  }

  #events {
    max-width: 60rem;
    margin: auto;

    .title {
      font-size: 2.4em; 
      .title:first-child {
        font-size: 2.4em;
      }
      .event .title:last-child {
        font-size: 1.32rem;
      }
    }

    p {
      margin-bottom: 2em;
      color: #4B618D;
    }

    .double {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 1em;
      max-width: 60rem;
  
      .emp {
        font-size: 1.6rem;
      }
    
    }

    div * {
      margin: 0; }
    @media only screen and (min-width: 60rem) {
      .navbar .topmenu {
        visibility: visible;
        display: inline-block; }
    
      .navbar .menu {
        visibility: hidden;
        display: none; }
    
      .double .pillar {
        width: 50%; }
    
      .right {
        padding-left: 6vw; }
    
      .roomdesc.right {
        padding-left: 3vw; }
    
      .scrollgroup {
        margin-left: auto;
        margin-right: 8vw; } }
    
  }

  #ispeakers {
    background: -webkit-linear-gradient(to right, rgba(203, 103, 240, 0.8), rgba(5, 143, 250, 0.8)), url(../images/views/uwineng.jpg);
    background: -o-linear-gradient(to right, rgba(203, 103, 240, 0.8), rgba(5, 143, 250, 0.8)), url(../images/views/uwineng.jpg);
    background: linear-gradient(to right, rgba(203, 103, 240, 0.8), rgba(5, 143, 250, 0.8)), url(../images/views/uwineng.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 2px 6px rgba(75, 97, 141, 0.24);
    color: #FAFAFA;

    p {
      color: #FAFAFA !important;
    }

    .title {
      font-size: 2.4em;
    }

    .imggroup {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 1em;

      .imgbox {
        width: 25vw;
        min-width: 300px;
        min-height: 360px;
        font-family: "Oswald", sans-serif;
        font-size: 1.2em;
        letter-spacing: 1px;
        box-shadow: 2px 3px 8px rgba(18, 19, 22, 0.938);
        text-shadow: 2px 2px 4px rgb(13, 14, 15);
        position: relative;
        margin: 1em 0.5em;

        h6 {
          font-size: 1.5em;
          position: absolute;
          bottom: 0em;
          left: 1em;
        }

        h5 {
          position: absolute;
          bottom: 0.5em;
          left: 1em;
        }

        .imggroup .imgbox h4 {
          font-size: 1.5em;
          position: absolute;
          bottom: 1.1em;
          left: 0.85em;
        }

        #desc {
          font-size: 0.75em;
          line-height: 1.2;
        }




      }
    }

    #ispeakersbox {
      .imgbox {
        .btn {
          color: white;
          margin-top: 23.15em;
          margin-left: 1em;
        }

        .btn:hover {
          border-color: #67DDA6;
          color: #67DDA6;
          box-shadow: none;
        }

        h5{
          margin-bottom: 3em;
        }

      }

      // start imgbox styles
      .imgbox:first-child {
        background: -webkit-linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/George.jpg);
        background: -o-linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/George.jpg);
        background: linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/George.jpg);
        background-size: cover;
        background-position: center;
        box-shadow: 0px 2px 6px rgba(11, 11, 12, 0.432);
      }

      .imgbox:nth-child(2) {
        background: -webkit-linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/Emily.jpg);
        background: -o-linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/Emily.jpg);
        background: linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/Emily.jpg);
        background-size: cover;
        background-position: center;
        box-shadow: 0px 2px 6px rgba(11, 11, 12, 0.432);
      }

      .imgbox:nth-child(3) {
        background: -webkit-linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/Rino.jpg);
        background: -o-linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/Rino.jpg);
        background: linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/Rino.jpg);
        background-size: cover;
        background-position: center;
        box-shadow: 0px 2px 6px rgba(11, 11, 12, 0.432);
      }

      .imgbox:nth-child(4) {
        background: -webkit-linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/YumYumRamen.jpg);
        background: -o-linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/YumYumRamen.jpg);
        background: linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/YumYumRamen.jpg);
        background-size: cover;
        background-position: center;
        box-shadow: 0px 2px 6px rgba(11, 11, 12, 0.432);
      }

      .imgbox:nth-child(5){
        background: -webkit-linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/kobti.jpg);
        background: -o-linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/kobti.jpg);
        background: linear-gradient(to right, rgba(203, 103, 240, 0.4), rgba(5, 143, 250, 0.4)), url(../images/guests/kobti.jpg);
        background-size: cover;
        background-position: center;
        box-shadow: 0px 2px 6px rgba(11, 11, 12, 0.432);
      }





      // end imgbox styles


    }
  }
}