RewriteEngine On  
  # If an existing asset or directory is requested go to it as it is
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  RewriteRule ^ - [L]

  #Rewrites /en/ and no htmls to the usual site
  RewriteRule ^(.*)?$ $1.html [NC]
  RewriteRule ^(.*)/+?$ $1.html [NC]
  RewriteRule ^en/(.*)?$ $1.html [NC]
  RewriteRule ^en/(.*)/+?$ $1.html [NC,L]

  # If the requested resource doesn't exist, use index.html
  RewriteRule ^.*$ /index.html

  #SEO
  RewriteCond %{REQUEST_URI}  ^/$
  RewriteCond %{QUERY_STRING} ^_escaped_fragment_=/?(.*)$
  RewriteRule ^(.*)$ /snapshots/%1? [NC,L]
